.lead {
    width: 100%;
    padding-top: 104px;
    min-height: 480px;
    background-position: center;
    background-image: url('../../assets/images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: rgba(0,0,0,.8);
    }

    &__content {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__title {
        font-size: 60px;
        color: rgb(248, 187, 16);
        margin-top: 120px;
        z-index: 5;
        position: relative;
    }
}