.starships {
    max-width: 1440px;
    margin: 0 auto;

    &__top {
        position: relative;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin-right: 10px;
    }
    
    &__modal {
        min-width: 900px;
    }
}