.page {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(43, 44, 44);
    color: #fff;
    position: relative;
}
    
.content {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}